<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CalibrationLab</title>
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <ul class="sidebar-menu">
                <li>
                    <a href="#" class="dropdown-toggle">
                        User <span class="icon">+</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a asp-controller="User" asp-action="Add">Add</a></li>
                        <li><a asp-controller="User" asp-action="Edit">Edit</a></li>
                        <li><a asp-controller="User" asp-action="Delete">Delete</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle">
                        Model Add <span class="icon">+</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Transducer</a></li>
                        <li><a href="#">Transmitter</a></li>
                        <li><a href="#">Calibration</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle">
                        Facility <span class="icon">+</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Download</a></li>
                        <li><a href="#">Request</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="main-content">
            <nav class="topnav">
                <img src="~/images/logo.jpeg" />
            </nav>
            <h1>Calibration Lab</h1>
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>