<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CalibrationLab</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar-heading">Sidebar</div>
            <ul class="sidebar-menu">
                <li><a href="#">Dashboard</a></li>
                <li>
                    <a href="#" class="dropdown-toggle">
                        Users <span class="icon">+</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Add</a></li>
                        <li><a href="#">Edit</a></li>
                        <li><a href="#">Delete</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle">
                        Model Add <span class="icon">+</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Transducer</a></li>
                        <li><a href="#">Transmitter</a></li>
                        <li><a href="#">Calibration</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle">
                        Facility <span class="icon">+</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Download</a></li>
                        <li><a href="#">Request</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="main-content">
            <nav class="topnav">
                <a href="/">Home</a>
                <a href="/Privacy">Privacy</a>
                <a href="/About">About</a>
            </nav>
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/js/site.js"></script>
</body>
</html>