/* Basic styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Sidebar styles */
.sidebar {
    width: 250px;
    height: -webkit-fill-available;
    background-color: #f8f9fa;
    height: 41%;
    padding: 5% 0px;
    position: absolute;
    border-right: 1px solid #ddd;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

    .sidebar-menu li {
        padding: 10px 20px;
        position: relative;
    }

        .sidebar-menu li a {
            text-decoration: none;
            color: #333;
            display: block;
        }

            .sidebar-menu li a:hover {
                background-color: #ddd;
            }

.dropdown-menu {
    display: none;
    list-style-type: none;
    padding: 0;
    padding-left: 20px;
    border-left: 2px solid #ddd;
    margin-left: 10px;
}

    .dropdown-menu li {
        padding: 5px 0;
    }

.dropdown-toggle .icon {
    float: right;
    margin-right: 10px;
    font-weight: bold;
}

/* Main content styles */
.main-content {
    margin-left: 250px;
}

/* Top navigation styles */
.topnav {
    overflow: hidden;
    color: #00000033;
    height: 200px;
    border: solid 1px;
    text-align: center;
    padding: 2px;
    width: 100%;
    box-sizing: border-box;
}

    .topnav img {
        height: 100%
    }

.main-content h1 {
    text-align: center;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    font-size: 1rem;
    line-height: 1.5;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
