@{
    ViewData["Title"] = "Create User";
}

@section Styles {
    <link rel="stylesheet" href="~/css/user.css" />
}

<div class="container">
    <div id="addUserDiv">

        <div id="errorMessage" class="alert alert-danger" style="display:none;"></div>

        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" type="text" name="name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="employeeid">Employee ID</label>
            <input id="employeeid" type="text" name="employeeid" class="form-control" />
        </div>
        <div class="form-group">
            <label for="mail">Mail</label>
            <input id="mail" name="mail" type="email" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" class="form-control" />
        </div>
        <div class="form-group">
            <label for="signature">Signature</label>
            <input id="signature" name="signature" type="file" class="form-control" />
        </div>
        <button id="submitBtn" class="btn btn-primary">Create</button>
    </div>
</div>

@section Scripts {
    <script src="~/js/user/add-user.js"></script>
}