@model CalibrationLab.Models.User

@{
    ViewData["Title"] = "Edit User";
}

@section Styles {
    <link rel="stylesheet" href="~/css/user.css" />
}

<div class="form-container">
    <h2>Edit User</h2>

    <!-- Search Box -->
    <div class="search-box">
        <input id="searchEmployeeId" type="text" placeholder="Enter Employee ID" class="form-control" />
        <button id="searchButton" class="btn btn-primary">
            <i class="fa fa-search"></i> Search
        </button>
    </div>

    <!-- Edit Form -->
    <div id="editFormContainer" style="display:none;">
        <div id="errorMessage" class="alert alert-danger" style="display:none;"></div>
        <input type="text" id="userId" hidden/>
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" type="text" name="name" class="form-control" disabled/>
        </div>
        <div class="form-group">
            <label for="employeeid">Employee ID</label>
            <input id="employeeid" type="text" name="employeeid" class="form-control" disabled/>
        </div>
        <div class="form-group">
            <label for="mail">Mail</label>
            <input id="mail" name="mail" type="email" class="form-control" disabled/>
        </div>
        <div class="form-group" id="sectionImage">
            <label for="imgSign">Signature</label>
            <img id="imgSign" src="" alt="User Signature" />
        </div>
        <div class="form-group" id="sectionSignature" style="display:none;">
            <input type="checkbox" id="checkSignature" value="" />
            <label for="signature">New Signature</label>
            <input id="signature" name="signature" type="file" class="form-control" style="display:none;" />
        </div>
        <div class="form-group" id="sectionPassword" style="display:none;">
            <input type="checkbox" id="checkPassword" value="" />
            <label for="password">New Password</label>
            <input id="password" name="password" type="password" class="form-control" style="display:none;" />
        </div>
        <div>
            <button id="btnEdit" class="btn btn-primary">Edit</button>
            <button id="btnSave" class="btn btn-primary" style="display:none;">Save</button>
            <button id="btnCancel" onclick="location.reload()" class="btn btn-primary" style="display:none;">Cancel</button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    <script src="~/js/user/edit-user.js"></script>
}